doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Crise du crétacé : origines possible et conséquences

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

        section
            h1 Crise du crétacé : <br> origines possibles  et conséquences

        section
            h3.bullet Sommaire
            li I. À  quoi correspond le crétacé ?
            li II. Que s’est-il passé ?
            li III.  Cela peut-il se reproduire ?

        section
            h2.bullet I. À quoi correspond <br> le crétacé ?

        section
            img(src='images/ages.png' width='128px')
            p.src <a href="http://svtmarcq.over-blog.com/article-un-tableau-des-eres-geologiques-term-s-et-1ere-s-60415149.html">svtmarcq.over-blog.com</a>

        section
            h4 Représentation sur 24 h de l'histoire de la Terre
            img(src='images/ages-24.png' width='350px')
            p.src <a href="http://www.bonne-mesure.com/echelle_des_temps_geologiques.php">bonne-mesure.com</a>


        section
            h2.bullet II. Que s’est-il passé ?
            h3.bullet 1) Les météorites
            h3.bullet 2) Une forte activité volcanique
            
        section
            h3 1) Les météorites
        
        section
            h4 Chicxulub
            img(src='images/chicxulub-map.jpg' width='260px')
            p.src <a href="http://fr.wikipedia.org/wiki/Crat%C3%A8re_de_Chicxulub">wikipedia.org</a>
            img(src='images/chicxulub-map-past.jpg' width='260px')
            p.src <a href="http://histoiredutemps.free.fr/terrestre/mesozoique/cretace.extinction.htm">histoiredutemps.free.fr</a>
            
        section
            h4 Vue de synthèse observée de la Lune
            img(src='images/lune.jpg' width='350px')
            p.src <a href="http://histoiredutemps.free.fr/terrestre/mesozoique/cretace.extinction.htm">histoiredutemps.free.fr</a>
        
        section
            h4 Présence d'iridium
            img(src='images/iridium.jpg' width='450px')
            p.src <a href="http://histoiredutemps.free.fr/terrestre/mesozoique/cretace.extinction.htm">histoiredutemps.free.fr</a>

        section
            h3 2) Une forte activité volcanique

        section
            h4 Un point chaud
            img(src='images/point-chaud.png' width='350px')
            p.src <a href="http://eduterre.ens-lyon.fr/eduterre-usages/ressources_gge/hawaii/hawaii">eduterre.ens-lyon.fr</a>

        section
            h4 Trapps du Deccan
            img(src='images/ocean-indien.jpg' width='350px')
            p.src <a href="http://sciencesdelaterre.ens-lyon.fr/vie-du-departement/iconotheque/Indien-ligne-chaude-Reunion-2.jpg/view">sciencesdelaterre.ens-lyon.fr</a>

        section
            h2 III. Cela peut-il se reproduire ?

        section
            h4 Rosetta et Philae
            img(src='images/rosetta.jpg' width='300px')
            p.src <a href="http://sci.esa.int/rosetta/47366-fact-sheet/">esa.int</a>

        section
            h4 Vue du pied de Philae
            img(src='images/philae.jpg' width='300px')
            p.src <a href="http://sci.esa.int/rosetta/47366-fact-sheet/">esa.int</a>

        section
            h3 Sources:
            p <a href="http://www.cristauxetpierresdumonde.com/fossile/#creta">cristauxetpierresdumonde.com</a>
            p <a href="http://www.lfib.ac.th/vie-du-lfib/la-vie-du-secondaire-fr/realisations-et-projets-fr/projets-svt-fr/915-la-crise-cretace-tertiaire">lfib.ac.th</a>
            p <a href="http://www.futura-sciences.com/magazines/terre/infos/dico/d/paleontologie-extinction-masse-8652/">futura-sciences.com</a>
            p <a href="http://sci.esa.int/rosetta/47366-fact-sheet/">esa.int</a>
            p <a href="http://histoiredutemps.free.fr/terrestre/mesozoique/cretace.extinction.htm">histoiredutemps.free.fr</a>
            p <a href="http://eduterre.ens-lyon.fr/eduterre-usages/ressources_gge/hawaii/hawaii">eduterre.ens-lyon.fr</a>
            
        section
            h3 Sources (suite):
            p <a href="http://sciencesdelaterre.ens-lyon.fr/vie-du-departement/iconotheque/Indien-ligne-chaude-Reunion-2.jpg/view">sciencesdelaterre.ens-lyon.fr</a>
            p <a href="http://wikipedia.org">wikipedia.org</a>
            p <a href="http://svtmarcq.over-blog.com/article-un-tableau-des-eres-geologiques-term-s-et-1ere-s-60415149.html">svtmarcq.over-blog.com</a>
            p <a href="http://www.bonne-mesure.com/echelle_des_temps_geologiques.php">bonne-mesure.com</a>
            p Science et Vie Junior n°289
            p Amiot, Romain. Les dinosaures. Gründ, 2013, 2013. Pour les nuls.s


    script(src='build/build.js')